@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer;
  }
}

body {
  background-color: hsl(243, 96%, 9%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
